<nav class="menu__nav">
    <!-- logo -->
    <section>
        <article class="container__logo__menu">
            <img src="../assets/logo.svg" alt="logo">
        </article>
    </section>

    <ul class="items__menu">
        <li routerLinkActive="active"><a  routerLink="/home">Home <span class="fas fa-home"></span></a></li>
        <li routerLinkActive="active"><a  routerLink="/about">About <span class="fas fa-user-friends"></span></a></li>
        <li routerLinkActive="active"><a  routerLink="/contact">Contact <span class="fas fa-phone-alt"></span></a></li>
    
    </ul>
</nav>

<router-outlet></router-outlet>

 