.menu__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    height: 50px;
    position: sticky;
    top:0;
    /* border-bottom-right-radius: 5px; */
    z-index:10;
    /* border-bottom-left-radius: 5px; */
    max-width: 100%;
    background-color: rgba(16, 175, 69, 0.918);
}
.container__logo__menu img{
    width:40px;
}

.items__menu{
    display:flex;
    justify-content: center;
    align-items: center;
}

.items__menu li{
    list-style: none;
    font-size:14px;
    margin: 0 8px;
    padding: 4px;
 
  
}

.items__menu li:hover{
    /* transform: scale(1.1);
     */
     opacity:.7;
    transition: .3s;
    cursor:pointer
}
.items__menu li a{
    font-weight: 550;
    color:white;
    text-decoration: none;
}

.active{
    border-radius: 5px;
    border: 2px solid #eee;
}