

<section class="banner__search animate">
   
    <article class="container__input ">
 
        <input type="search" #searchvalue (keyup)="valueSearch=searchvalue.value"
        class="input__search animate" placeholder="Encuentra tu restaurante favorito">

    </article>
</section>



<br>
<br>




<div *ngIf="items.length">
    <h1 class="animate cardsInfo">Los mejores restaurante en la Republica Dominicana</h1>

    <section class="container__cards">
        
        <article class="card animate" *ngFor="let card of items|slice:0:limitCard| search:items:valueSearch" (click)="open(card.id)">
            <div class="container__image">
                <img src="../../../assets/images/{{card.image}}" [alt]="card.name">
            </div>

            <!-- rating,title -->
            <div class="container__title__card" >
                <p class="card__title">{{ card.name }}</p>
                 <div class="ratings__groups">
                    <p>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <i>{{' ' + card.rating }}</i>
                    </p>
                   <p class="card__title">
                       {{ card.comment }} Opiniones
                   </p>
                 </div>   
            </div>
        </article>

    </section>



    <div class="changeMore"  >
        <button class="btn__charge" (click)="moreItem()">Cargar más</button>
    </div>
</div>